<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>BUYnROAR</title>


    

    <style>
        table {
            width: 650px;
            margin: 0 auto;
        }
        body{
            margin: 0;
            padding: 0;
            font-family: -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol" !important;
        }
    </style>
</head>

<body style="background:#ffffff;">
<table style="width: 100%;  margin: 0 auto; border-collapse: collapse; background:#fff; text-align:left; table-layout: fixed;" cellspacing="0" cellpadding="0">
    <tr>
        <td style="width: 100%; padding:20px; text-align: center;" colspan="2">
            <a target="_blank" href="https://www.buynroar.com/" style="display:block; color: blue; font-size: 10px;"><img width="250px" src="https://storage.shopnroar.com/logo.png"></a>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;text-align: center;" colspan="2">
            <h2 style="color: #000;margin: 0; font-size: 32px">
                Welcome to BUYnROAR
                <!-- Package Unsubscription Email - The most comprehensive source of RFPs at the Federal, County, City, State, Agency levels. -->
            </h2>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; padding: 20px; background: #fff">
            <p style="text-align: left; color:#4f4f4f; font-size:16px; font-weight: 600; margin:0 0 10px;">Hi {{ fname }}, </p>
             
            <p style="text-align: left; color:#4f4f4f; font-size:16px; margin: 10px 0;">
                Welcome to BUYnROAR.com.Thanks you for writing to us.
            </p>
            <p style="text-align: left; color:#4f4f4f; font-size:16px; margin: 10px 0;">
                We have received your message. We will get back to you with in next 24 hours.
            </p>
           
            <p style="text-align: left; color:#656565; font-size:16px; margin: 0;">Thank You, <br> BUYnROAR Team</p>
        </td>
    </tr>


      
    <tr>
        <td colspan="2" style="text-align: center; color: #000; padding:5px 30px;">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.brainplow.buynroar&hl=en" style="display: inline-block;width: 200px;"><img src="https://storage.shopnroar.com/google-play.png" width="100%"></a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; color: #000; padding:5px 30px;">
            <a target="_blank" href="https://apps.apple.com/us/app/buynroar/id1275085906" style="display: inline-block;width: 200px;"><img src="https://storage.shopnroar.com/apple-store.png" width="100%"></a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background-color: #fff; padding:0 30px; text-align: center;">
            <p style="color: rgb(68, 68, 68); font-weight: bold; font-size:16px; padding:15px 0 5px; margin:0;">Follow us on Social Media</p>
            
            <p style="color: rgb(167, 167, 167); margin: 0; font-size: 12px; font-weight: 500;">Add your voice to the conversation and get the latest news, views and insights from BUYnROAR.</p>


        </td>
    </tr>
    <tr>
        <td colspan="2" style="background-color: #fff; padding:6px 30px 0; text-align: center;">
            <a target="_blank" href="https://twitter.com/SHOPnROAR" style="display: inline-block;">

                <img width="35px" src="https://storage.rfpgurus.com/category_images/iconfinder_twitter_294655.png">


            </a>


            <a target="_blank" href="#" style="display: inline-block; margin-left: 10px">
                <img width="35px" src="https://storage.rfpgurus.com/category_images/iconfinder_social_media_network-29_1851685.png">
            </a>


            <a target="_blank" href="#" style="display: inline-block; margin-left: 10px">
                <img width="32px" src="https://storage.rfpgurus.com/category_images/iconfinder_social-03_3146786.png">
            </a>

        </td>
    </tr>
    <tr>
        <td colspan="2" style="background-color: #fff; width:100%; font-weight: 600; padding:0px 30px 0px; font-size: 16px; text-align: center;">
            <p style="color: rgb(167, 167, 167); margin: 0; font-size: 12px; font-weight: 500;">Not subscribed to our newsletter yet? <a target="_blank" href="https://www.shopnroar.com/register" style="color: rgb(167, 167, 167);">Sign up</a></p>


            <p style="color: rgb(167, 167, 167); margin: 0; font-size: 12px; font-weight: 500;">If you don't want to receive newsletters from BUYnROAR, click on <a target="_blank" href="#" style="color: rgb(167, 167, 167);">Unsubscribe</a>.</p>



            </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;padding: 0px 30px 5px;">
            <a target="_blank" href="https://www.buynroar.com/terms" style="font-size: 12px; font-weight: 500; color: rgb(167, 167, 167);">Terms of Use</a>
            <span style="font-weight: 300; color: rgb(167, 167, 167);"> | </span>

            <a target="_blank" href="https://www.buynroar.com/policy" style="font-size: 12px; font-weight: 500; color: rgb(167, 167, 167);">Privacy Policy</a>

            <span style="font-weight: 300; color: rgb(167, 167, 167);"> | </span>
            <a target="_blank" href="https://www.buynroar.com/" style="font-size: 12px; font-weight: 500; color: rgb(167, 167, 167);">Visit our website</a>
        </td>
    </tr>
</table>
</body>
</html>