<!DOCTYPE html>
<html>
<head>
  <title>BUYnROAR</title>
  <style>
    a{
     font-family: Helvetica;
      text-decoration: none;
    }
  </style>
</head>
<body>
<div style="background-color: #CCCCCD; margin: 0;padding-top: 10px; padding-bottom: 10px">

  <table style="max-width: 800px; margin: 0 auto; background-color: #fff;">
    <tr>
      <td style="width:100%;">
        <img src="https://storage.shopnroar.com/logo.png" width="874px" height="430">
      </td>
    </tr>
  </table>

  <table style="max-width: 880px; margin: 0 auto; background-color: #ffffff; padding: 41px;">
    <tr>
    <tr>
      <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">

        <h4 style="margin: 0;font-weight: bold; font-weight: bold">Dear User:</h4>
        <p style="font-weight: bold">Someone has just created account against this email.</p>
      </td>
    </tr>
    <tr style="text-align: center">
      <td style="padding: 0 10px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
        <!-- Button : BEGIN -->
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center"
               style="margin: auto;">
          <h2>Please click below for activation of account</h2>
          <tr>
            <br/>
            <a style="text-decoration: none;font-family: Helvetica;background: #c51414;color: white;border: none;font-size: 20px;margin-top: 20px;padding: 10px 30px;font-weight: bold;cursor: pointer" class="button" href= {{ link }}>Activate My Account</a>
            <br/>
            <!--<td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">-->
            {#                                                <strong style="font-size: 20px; font-weight: bold; color: black; margin-top: 30px;">Activation Code :  {{ link }}</strong>#}
            <!--</td>-->
          </tr>



        </table>
        <!-- Button : END -->
      </td>
    </tr>
    </tr>

    <tr style="margin-top: 20px;display: block">
      <td style="width:880px; margin: 0 auto;text-align: center;margin-top: 40px">

      </td>
    </tr>
  </table>

  <table style="max-width: 880px; margin: 0 auto; background-color: #f1f1f1; padding: 10px;text-align: center;">
    <tr style="text-align: center;">
      <td style="width: 880px">
        <h5 style="font-family: Helvetica; margin-right: 142px; font-size: 18px;" >Thank you</h5>
        <h3 style="font-family: Helvetica;  font-size: 20px;" >The BUYnROAR Team</h3>
      </td>
    </tr>
  </table>

  <table style="max-width: 880px; margin: 0 auto; background-color: #c51414; padding: 41px;text-align: center;">
    <tr>
      <td><h1 style="font-family: Helvetica; font-size: 20px; color: #ffffff">Who Are We?</h1></td>
    </tr>
    <tr>
      <td><p style="font-family: Helvetica;font-size: 16px;line-height: 1.2;color: #ffffff">
        We, the engineers at BUYnROAR have devised cutting edge Machine Learning (ML) and Artificially Intelligent (AI) algorithms to find the best products for you = BTW, we are very proud of our work!</p></td>
    </tr>
    <tr>
      <td>
        <a href="https://www.buynroar.com/about" style="display: block;margin: 20px 300px 0 300px;
                text-decoration: none;font-family: Helvetica;color: white;border: 5px solid white;
                font-size: 20px;margin-top: 20px;padding: 10px 30px;font-weight:
                 bold;cursor: pointer;border-radius: 25px">
          More Details
        </a>
      </td>
    </tr>
  </table>

  <table style="max-width: 880px; margin: 0 auto; background-color: #f1f1f1; padding: 1% 6%;text-align: center;">
    <tr>
      <td>
        <p style="color: gray;">
          <a href="https://www.buynroar.com/contact">Establish Contact</a>
          <a href="https://www.buynroar.com/termsofcondition"> | Terms of Use</a>
          <a href="https://www.buynroar.com/policy"> | Privacy Policy</a>
          <!--<a href="#"> | Unsubscribe</a>-->
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <a style="font-family: Helvetica" href="https://www.buynroar.com/">BUYnROAR</a>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding:6px 30px 0; text-align: center;">
        <a target="_blank" href="https://twitter.com/ogre_space" style="display: inline-block;">

            <img alt="img" alt="img" width="35px" src="https://storage.rfpgurus.com/category_images/iconfinder_twitter_294655.png">


        </a>


        <a target="_blank" href="https://www.pinterest.com/shopnroar/" style="display: inline-block; margin-left: 10px">
            <img alt="img" alt="img" width="35px"
                src="https://storage.rfpgurus.com/category_images/iconfinder_social_media_network-29_1851685.png">
        </a>


        <a target="_blank" href="https://www.instagram.com/shopnroar1/"
            style="display: inline-block; margin-left: 10px">
            <img alt="img" alt="img" width="32px" src="https://storage.rfpgurus.com/category_images/iconfinder_social-03_3146786.png">
        </a>

    </td>
    </tr>
    <tr>
      <td>
        <p style="font-family: Helvetica">Copyright &copy; 2018 BUYnROAR. All rights reserved.</p>
      </td>
    </tr>
    <tr>
      <td>
        <p style="font-family: Helvetica; font-size: 12px;">All other trademarks, service marks, logos and trade
          names are the property of their respective owners.
          To make sure you always receive our emails, add us to your safe senders list. You can view our
          privacy policy here. This is an automated email, please do not reply to this message.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p style="font-family: Helvetica; font-size: 10px;">
          DISCLAIMER: This email and any attachments are confidential and may also be privileged. it is intended only for the use of authorized persons. if you are not an addressee, or have received the message in error, you are not authorized to read, copy, disseminate, distribute or use the email or any attachment in any way. please notify us immediately and delete this e-mail.
        </p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>

