<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ShopnRoar</title>




    <style>
        table {
            width: 650px;
            margin: 0 auto;
        }
        body{
            margin: 0;
            padding: 0;
            font-family: -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol" !important;
        }
        .img-pic{
            overflow: hidden !important;
        }
    </style>
</head>

<body style="background:#ffffff;">
<table style="width: 100%;  margin: 0 auto; border-collapse: collapse; background:#fff; text-align:left; table-layout: fixed;" cellspacing="0" cellpadding="0">
    <tr>
        <td style="width: 100%; padding:20px; text-align: center;" colspan="2">
            <a target="_blank" href="https://www.shopnroar.com/" style="display:block; color: blue; font-size: 10px;"><img alt="img" width="300px" src="https://www.shopnroar.com/assets/images/ShopnRoar%20Logo.svg"></a>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;text-align: center;" colspan="2">
            <h2 style="color: rgb(29, 34, 40);margin: 0; font-size: 32px">
                ShopnRoar - Shop with a Roar <br>
                Password Reset Request Notification
            </h2>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; padding: 20px; background: #fff">
            <p style="text-align: left; color:#4f4f4f; font-size:16px; font-weight: 600; margin:0 0 10px;">Hi {{ Fname }}, </p>

            <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 10px 0;">
                You recently requested to reset your password for your ShopnRoar account. Tap the button below to reset your password.

            </p>
            <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 10px 0;">
                This password reset request is valid only for the next 24 hours.
            </p>
            <!-- <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 5px 0;">
                This password reset request in only valid for the next 24 hours.
            </p> -->

            <!-- <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 5px 0;">
                              Tab on the button below to subscribe again.</p> -->
            <a target="_blank" href="{{link}}" style="font-size: 18px; padding: 10px 25px; background: #000; color: #fff; border-radius: 25px; display: inline-block; text-decoration: none; font-weight: 600; box-shadow: 2px 6px 10px -5px #000">Tap here to Reset your ShopnRoar Password Now</a>

            <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 10px 0 5px;">
                If you did not request a password reset, please ignore this email. Should you want to contact us, feel free to leave us a note here.</p>
            <p style="text-align: left; color:#656565; font-size:14px; margin: 0;">Thank You, <br>The ShopnRoar Team</p>
        </td>
    </tr>



<!-- Start App button -->
<tr>
    <td colspan="2" style="text-align: center; color: #000; padding:5px 30px;">
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.brainplow.shopnroar" style="display: inline-block;"><img alt="img" src="https://storage.coursefrenzy.com/final/Adroid-Badge.png" width="100%"></a>

    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center; color: #000; padding:5px 30px;">
        <a target="_blank" href="https://apps.apple.com/us/app/shopnroar/id1470936840" style="display: inline-block;"><img alt="img" src="https://storage.coursefrenzy.com/final/IOS-Badge.png" width="100%"></a>
    </td>
  </tr>
  <!-- End App button -->

  <!-- Strat Footer -->
  <tr>
    <td colspan="2" style="background-color: #fff; padding:0 30px; text-align: center;">
        <p style="color: #000; font-size:14px; padding:15px 0 5px; margin:0; font-weight: 600;">Follow us on Social Media
        </p>
        <p style="color: rgb(167, 167, 167); margin: 0; font-size: 12px;">Add your voice to the conversation and get the
            latest news, views and insights from ShopnRoar.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="background-color: #fff; padding:6px 30px 0; text-align: center;">
        <a target="_blank" href="https://twitter.com/ogre_space" style="display: inline-block;">

            <img alt="img" width="35px" src="https://storage.rfpgurus.com/category_images/iconfinder_twitter_294655.png">


        </a>


        <a target="_blank" href="https://www.pinterest.com/shopnroar/" style="display: inline-block; margin-left: 10px">
            <img alt="img" width="35px"
                src="https://storage.rfpgurus.com/category_images/iconfinder_social_media_network-29_1851685.png">
        </a>


        <a target="_blank" href="https://www.instagram.com/ogrespace1/"
            style="display: inline-block; margin-left: 10px">
            <img alt="img" width="32px" src="https://storage.rfpgurus.com/category_images/iconfinder_social-03_3146786.png">
        </a>

    </td>
  </tr>
  <tr>
    <td colspan="2" style="background-color: #fff; width:100%; padding:0px 30px 0px; text-align: center;">
        <p style="color: rgb(167, 167, 167); margin: 0; font-size: 12px;">Not subscribed to our newsletter yet? <a
                target="_blank" href="https://www.shopnroar.com/signup" style="color: rgb(167, 167, 167);">Sign up</a>
        </p>


        <p style="color: rgb(167, 167, 167); margin: 0; font-size: 12px;">If you don't want to receive newsletters from
            ShopnRoar, click on <a target="_blank" href="https://www.shopnroar.com/unsubscribe"
                style="color: rgb(167, 167, 167);">Unsubscribe</a>.</p>



    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center;padding: 0px 30px 5px;">
        <a target="_blank" href="https://www.shopnroar.com/terms"
            style="font-size: 12px; color: rgb(167, 167, 167);">Terms of Use</a>
        <span style="color: rgb(167, 167, 167);"> | </span>

        <a target="_blank" href="https://www.shopnroar.com/privacy"
            style="font-size: 12px; color: rgb(167, 167, 167);">Privacy Policy</a>

        <span style="color: rgb(167, 167, 167);"> | </span>
        <a target="_blank" href="https://www.shopnroar.com/" style="font-size: 12px; color: rgb(167, 167, 167);">Visit
            our website</a>
    </td>
  </tr>
  <!-- End Footer -->
</table>
</body>
</html>